name: Build Kivy System Alarm APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip git zip unzip openjdk-17-jdk wget tar
          pip install --upgrade pip
          pip install buildozer cython

      - name: Install Android SDK & Build Tools
        run: |
          # تنزيل SDK Tools فقط
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdline-tools.zip
          mkdir -p $HOME/Android/cmdline-tools
          unzip cmdline-tools.zip -d $HOME/Android/cmdline-tools
          export ANDROID_SDK_ROOT=$HOME/Android
          export PATH=$ANDROID_SDK_ROOT/cmdline-tools/bin:$PATH
          yes | sdkmanager --sdk_root=$ANDROID_SDK_ROOT --licenses
          sdkmanager --sdk_root=$ANDROID_SDK_ROOT "platform-tools" "platforms;android-36" "build-tools;36.1.0"

      - name: Build APK
        env:
          ANDROIDSDK: $HOME/Android
          ANDROID_NDK_HOME: $HOME/Android/ndk-bundle
          PATH: $HOME/Android/platform-tools:$PATH
        run: |
          buildozer init || true
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SystemAlarmApp-APK
          path: bin/*.apk
